<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="formGroup">
        <h2>Worker/Supervisor Registration</h2>
        <label for="name">Name:</label><br>
        <input type="text" required formControlName="name"><br>
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <small class="text-danger" *ngIf="name?.errors?.['required']">This Field Is Required</small>
        </div>

        <label for="email">Email:</label><br>
        <input type="email" required formControlName="email"><br>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <small class="text-danger" *ngIf="email?.errors?.['required']">This Field Is Required</small>
            <small class="text-danger" *ngIf="email?.errors?.['email']">Invalid Email Format</small>
        </div>

        <label for="password">Password:</label><br>
        <input type="password" required formControlName="password"><br>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <small class="text-danger" *ngIf="password?.errors?.['required']">This Field Is Required</small>
            <small class="text-danger" *ngIf="password?.errors?.['pattern']">Password must contain at least one number, one uppercase and lowercase letter, and at least 8 characters</small>
        </div>

        <label for="role">Role:</label><br>
        <select required formControlName="role">
            <option value="worker">Worker</option>
            <option value="supervisor">Supervisor</option>
        </select><br>
        <div *ngIf="role?.invalid && (role?.dirty || role?.touched)">
            <small class="text-danger" *ngIf="role?.errors?.['required']">This Field Is Required</small>
        </div>
        <button type="submit" >Register</button>
    </div>
</form>
