<!-- <app-login></app-login> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="C:\AssignmentForAngular\Html\FrontEnd\UserManagementSystem\src\styles.css">
</head>
<body>
  <div class="dashboard">
    <div class="sidebar">
      <h2>Admin Dashboard</h2>
      <ul>
        <li><a [routerLink]="'/dashboard/addUser'">Add_User</a></li>
        <li><a [routerLink]="'/dashboard/listOfWorker'">Workers_List</a></li>
        <li><a [routerLink]="'/dashboard/listOfSupervisor'">Supervisors_List</a></li>
      </ul>
    </div>
  </div>
</body>
</html>


